<h1>Manage products</h1>

<div class="d-flex">
	<app-file-picker
		(uploadClick)="onUploadCSV()"
		[(file)]="selectedFile"
		class="mr-2"
	></app-file-picker>

	<button
		class="text-uppercase"
		color="primary"
		mat-flat-button
		routerLink="new"
	>
		create product
	</button>
</div>

<table [dataSource]="products$" class="w-100" mat-table>
	<ng-container matColumnDef="from">
		<th *matHeaderCellDef mat-header-cell>Title</th>
		<td *matCellDef="let product" mat-cell>
			{{ product.title }}
		</td>
	</ng-container>
	<ng-container matColumnDef="description">
		<th *matHeaderCellDef mat-header-cell>Description</th>
		<td *matCellDef="let product" mat-cell>{{ product.description }}</td>
	</ng-container>
	<ng-container matColumnDef="price">
		<th *matHeaderCellDef mat-header-cell>Price</th>
		<td *matCellDef="let product" mat-cell>
			{{ product.price | currency}}
		</td>
	</ng-container>
	<ng-container matColumnDef="count">
		<th *matHeaderCellDef mat-header-cell>Count</th>
		<td *matCellDef="let product" mat-cell>{{ product.count }}</td>
	</ng-container>
	<ng-container matColumnDef="action">
		<th *matHeaderCellDef mat-header-cell>Action</th>
		<td *matCellDef="let product" mat-cell>
			<button
				[routerLink]="product.id"
				class="text-uppercase mr-2"
				color="primary"
				mat-flat-button
			>
				manage
			</button>
			<button class="text-uppercase" color="warn" mat-flat-button>
				delete
			</button>
		</td>
	</ng-container>

	<tr *matHeaderRowDef="columns" mat-header-row></tr>
	<tr *matRowDef="let row; columns: columns" mat-row></tr>
</table>
