<h1>Manage orders</h1>

<table [dataSource]="orders$" class="w-100" mat-table>
	<ng-container matColumnDef="from">
		<th *matHeaderCellDef mat-header-cell>From</th>
		<td *matCellDef="let order" mat-cell>
			{{ order.address.firstName }} {{ order.address.firstName }}
		</td>
	</ng-container>
	<ng-container matColumnDef="count">
		<th *matHeaderCellDef mat-header-cell>Count</th>
		<td *matCellDef="let order" mat-cell>{{ order.items.length }}</td>
	</ng-container>
	<ng-container matColumnDef="address">
		<th *matHeaderCellDef mat-header-cell>Address</th>
		<td *matCellDef="let order" mat-cell>{{ order.address.address }}</td>
	</ng-container>
	<ng-container matColumnDef="status">
		<th *matHeaderCellDef mat-header-cell>Status</th>
		<td *matCellDef="let order" mat-cell>{{ order.items.length }}</td>
	</ng-container>
	<ng-container matColumnDef="action">
		<th *matHeaderCellDef mat-header-cell>Action</th>
		<td *matCellDef="let order" mat-cell>{{ order.items.length }}</td>
	</ng-container>

	<tr *matHeaderRowDef="columns" mat-header-row></tr>
	<tr *matRowDef="let row; columns: columns" mat-row></tr>
</table>
