<mat-card>
	<div class="img-container" mat-card-image>
		<div class="img-container__inner">
			<img
				alt=""
				src="https://source.unsplash.com/random?sig={{ index }}"
			/>
		</div>
	</div>

	<mat-card-header>
		<mat-card-title>
			{{ product.title }}
		</mat-card-title>
	</mat-card-header>

	<mat-card-content>
		<p>{{ product.price | number : "1.2-2" | currency }}</p>
	</mat-card-content>

	<mat-card-actions>
		<!-- Add to cart btn -->
		<button
			#cartBtn
			(click)="add()"
			*ngIf="(countInCart$ | async) === 0"
			color="accent"
			mat-icon-button
			matTooltip="Add {{ product.title }} to cart"
		>
			<mat-icon>shopping_cart</mat-icon>
		</button>

		<app-cart-count-controls
			#controls="countControls"
			(decrement)="remove()"
			(increment)="add()"
			*ngIf="(countInCart$ | async)! > 0"
			[available]="product.count"
			[count]="(countInCart$ | async)!"
			[productName]="product.title"
		></app-cart-count-controls>
	</mat-card-actions>
</mat-card>
